<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/articlecontent.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/selection.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/backtotop.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Blog - Zihan MEI's Site</title>
    <meta name="description" content="Welcome to My Personal Site!">
    <meta name="author" content="Zihan Zephaniah MEI">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600&display=swap" rel="stylesheet">
    <script>
        (function (d) {
            var config = {
                kitId: 'cmi7aqt',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <!-- end fonts -->

    <!-- start favicons snippet, use https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#2c3e50">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="ZMei.moe">
    <meta name="application-name" content="ZMei.moe">
    <meta name="msapplication-TileColor" content="#fee3e1">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- end favicons snippet -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156998560-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-156998560-1');
    </script>

    <!-- anime-master -->
    <script src="/assets/js/anime-master/lib/anime.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <!-- <script src="https://kit.fontawesome.com/d61407055c.js" crossorigin="anonymous"></script> -->

    <script type='text/javascript'>
        $(document).ready(function () {
            $("#header").load("/components/header-blog.html");
            $("#footer").load("/components/footer.html");
        });
    </script>

    <link rel="stylesheet" href="/assets/js/highlight/atom-one-light-edit.css">
    <script src="/assets/js/highlight/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
    <div id="header"></div>

    <!-- back to top icon -->
    <a id="backtotop">
        <svg id="layer2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.85 35.95">
            <defs>
                <style>
                    .cls-1 {
                        fill: none;
                        stroke-miterlimit: 10;
                    }
                </style>
            </defs>
            <title>backtotop</title>
            <polyline class="cls-1" points="0.43 13.95 8.43 0.95 16.43 13.95" />
            <line class="cls-1" x1="8.43" y1="25.95" x2="8.43" y2="0.95" />
            <line class="cls-1" x1="0.43" y1="0.95" x2="16.43" y2="0.95" />
        </svg>
    </a>
    <!-- end back to top icon -->

    <div id="offsetheader"></div>
    <!-- <a class="tocicon" onclick="toc()">
        <i class="fa fa-bars"></i>
    </a> -->
    <div id="toc">
        <div class="toc">
            <ul>
                <li><a href="#head1">head1</a>
                    <ul>
                        <li><a href="#subhead1">subhead1</a>
                            <ul>
                                <li><a href="#subsubhead1">subsubhead1</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#todo">todo</a>
                    <ul>
                        <li><a href="#bold">bold</a></li>
                        <li><a href="#italic">italic</a></li>
                        <li><a href="#list">list</a></li>
                        <li><a href="#number-list">number list</a></li>
                        <li><a href="#quote">quote</a></li>
                        <li><a href="#code">code</a></li>
                    </ul>
                </li>
                <li><a href="#content">content {</a>
                    <ul>
                        <li><a href="#link">link</a></li>
                        <li><a href="#image">image</a></li>
                        <li><a href="#toc">toc</a></li>
                        <li><a href="#tables">tables</a></li>
                        <li><a href="#direct-html-code">direct html code</a></li>
                        <li><a href="#hr-lines">hr lines</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="post">
            <h1 class="anchor" id="head1">head1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</p>
            <h2 id="subhead1">subhead1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</p>
            <h3 id="subsubhead1">subsubhead1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</p>
            <h1 id="todo">todo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</p>
            <h2 id="bold">bold</h2>
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.</strong></p>
            <h2 id="italic">italic</h2>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</em></p>
            <h2 id="list">list</h2>
            <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
            </ul>
            <h2 id="number-list">number list</h2>
            <ol>
                <li>no1</li>
                <li>no2</li>
                <li>no3</li>
            </ol>
            <h2 id="quote">quote</h2>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>
            </blockquote>
            <h2 id="code">code</h2>
            <pre><code class="python">import markdown
    a = markdown.markdown(markdownfile)
    print(a)
    </code></pre>

            <pre><code class="HTML">&lt;div id=&quot;content&quot;&gt;&lt;/div&gt;
    </code></pre>

            <pre><code class="css">#content {
    margin: auto;
    padding: auto;
    }
    </code></pre>

            <pre><code class="javascript">function myfunc() {
        document.getElementById(&quot;content&quot;).innerHTML = &quot;test&quot;
    }
    </code></pre>

            <h2 id="link">link</h2>
            <p><a href="https://www.zmei.moe">homepage</a></p>
            <h2 id="image">image</h2>
            <p><img alt="testimage" src="/assets/img/Logo.png" /></p>
            <h2 id="toc">toc</h2>
            <p>need to generate toc with extensions</p>
            <p>and then insert it respectively into #toc div</p>
            <h2 id="tables">tables</h2>
            <p>need to generate table with extensions and edit later on the titles</p>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Category</td>
                        <td>Professional work of urban design</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>Tsinghua, Beijing, China</td>
                    </tr>
                    <tr>
                        <td>Date of design</td>
                        <td>Feb 2017 - Apr 2017</td>
                    </tr>
                    <tr>
                        <td>Tutor</td>
                        <td>Prof. Qi Xin</td>
                    </tr>
                    <tr>
                        <td>Collaborator</td>
                        <td>Wen Qiulin, Lei Yuxin, Jiang Haomao and other 10 students</td>
                    </tr>
                    <tr>
                        <td>Total GFA</td>
                        <td>73,000 m²</td>
                    </tr>
                    <tr>
                        <td>Site area</td>
                        <td>27,000 m²</td>
                    </tr>
                    <tr>
                        <td>Green rate</td>
                        <td>34%</td>
                    </tr>
                    <tr>
                        <td>Floor area ratio</td>
                        <td>2.74</td>
                    </tr>
                </tbody>
            </table>
            <h2 id="direct-html-code">direct html code</h2>
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=420 height=86
                src="https://music.163.com/outchain/player?type=3&id=2065011836&auto=0&height=66"></iframe>

            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/746912935&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

            <h2 id="hr-lines">hr lines</h2>
            <hr />
        </div>
    </div>

    <div id="footer"></div>

    <!-- back to top -->
    <script class="backtotop">
        var btn = $('#backtotop');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>
    <!-- end back to top -->

    <!-- scroll smoothly -->
    <script>
        $(document).ready(function () {
            $("a").on('click', function (event) {

                if (this.hash !== "") {
                    event.preventDefault();

                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>
    <!-- end scroll smoothly -->

    <script class="showtocwhensdrolldown">
        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                $('#toc').addClass('fix');
            } else {
                $('#toc').removeClass('fix');
            }
        });
    </script>

    <!-- <script class="hidetoc">
        jQuery(document).ready(function ($) {
            var alterClass = function () {
                var ww = $(window).width();
                if (ww > 1400) {
                    $('#toc').removeClass('res');
                    $('#toc').addClass('fix');
                } else if (ww <= 1401) {
                    $('#toc').addClass('res');
                    $('#toc').removeClass('fix');
                };
            };
            $(window).resize(function () {
                alterClass();
            });
            //Fire it when the page first loads:
            alterClass();
        });
    </script> -->
</body>

</html>