body, html {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    /* height: 100%; */
}

::selection {
    background: #fd746c;
    color: #2c3e50;
}

::-moz-selection {
    background: #fd746c;
    color: #2c3e50;
}

::-webkit-selection {
    background: #fd746c;
    color: #2c3e50;
}

/* @media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
} */

#backtotop {
    /* display: inline-block; */
    /* background-color: #FF9800; */
    width: 20px;
    /* height: 40px; */
    /* text-align: center; */
    /* border-radius: 4px; */
    position: fixed;
    bottom: 40px;
    right: 40px;
    stroke: #fff;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    /* visibility: hidden; */
    z-index: 1000;
}

#backtotop:hover {
    cursor: pointer;
    stroke: #fd746c;
    transition: .3s;
    /* background-color: #333; */
}

#backtotop.show {
    opacity: 1;
    visibility: visible;
}

section.indexsection {
    display: block;
    align-items: center;
    padding-bottom: 0;
    margin-top: 0;
}

section.indexsection div.bgimg {
    background-image: url("/assets/img/covers/maincover1.jpg");
    height: 100vh;
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
}

div.bgimg2 {
    background-image: url("/assets/img/covers/architecturecover.jpg");
    height: 100vh;
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
    background-position: center center;
    align-items: center;
}

div.bgimg3 {
    background-image: url("/assets/img/covers/codingcover.jpg");
    height: 100vh;
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
    background-position: center center;
    align-items: center;
}

div.bgimg4 {
    background-image: url("/assets/img/covers/literaturecover.jpg");
    height: 100vh;
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
    background-position: center center;
    align-items: center;
}

section.indexsection div.myinfo {
    background-color: transparent;
    /* opacity: 0.9; */
    height: auto;
    width: auto;
    border-radius: 10px;
    position: absolute;
    left: calc(50vw - 150px);
    top: 10vw;
    align-items: center;
}

section.indexsection div.infopic img {
    position: relative;
    height: 100px;
    width: 100px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 25px;
    border-top-color: #2c3e50;
    border-right-color: #fee3e1;
    border-bottom-color: #c3e1ff;
    border-left-color: #fd746c;
    border-width: 5px;
    border-style: solid;
    box-sizing: border-box;
}

p, h1, h2, h3 {
    font-family: Montserrat, source-han-sans-cjk-sc, source-han-sans-cjk-sc, sans-serif;
    color: #2c3e50;
    cursor: default;
}

h1.myname {
    font-weight: 600;
    text-align: center;
    margin-top: 0;
    font-size: 1.6rem;
}

h1:hover {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: #fd746c;
}

h2.maintitles {
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    font-size: 1.2rem;
}

h3.mytitles {
    position: relative;
    font-weight: 200;
    text-align: center;
    margin-top: 0;
    font-size: 1rem;
    float: left;
    width: 33.33%;
}

section.indexsection div.social {
    position: relative;
    top: 10px;
}

div.socialupperline {
    position: relative;
    margin-top: 55px;
    margin-left: 0;
    height: 1px;
    width: 300px;
    background-color: #2c3e50;
}

div.sociallowerline {
    position: relative;
    margin-top: 45px;
    margin-right: 0;
    height: 1px;
    width: 300px;
    background-color: #2c3e50;
}

svg.social {
    position: absolute;
    margin-top: 0px;
    margin-left: -10px;
    width: 24px;
    height: 24px;
}

svg.social:hover {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    fill: #fd746c;
}

section.samples {
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    margin-top: 0;
    padding-top: 0;
}

div.scrolldown {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
    height: 50px;
    width: 50px;
    stroke: #fff;
}

div.scrolldown:hover {
    stroke: #fd746c;
    transition: .3s;
}

svg#图层_1 {
    position: relative;
    display: block;
    margin: 0 auto;
}

.main-anime {
    background-color: #2c3e50;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
}

.loader {
    z-index: 999;
}